defaults
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http
    bind *:80
    mode http
    default_backend nodes

backend nodes
    mode http
    balance roundrobin
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server web03 127.0.0.1:19001 check
    server web03 127.0.0.1:19002 check
